/* arabic */
@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  src: local('Aref Ruqaa'), local('ArefRuqaa-Regular'), url(fonts/kX3D0J3szbBG7vVLlCR6TwsYbbCjybiHxArTLjt7FRU.woff2) format('woff');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  src: local('Aref Ruqaa'), local('ArefRuqaa-Regular'), url(fonts/OL82tuUS1uu6MwHjw_sLuQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* arabic */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: local('Lateef'), url(fonts/JvzctAhbFXhVGE_FxwIC4n-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: local('Lateef'), url(fonts/Mpn9ybDu1bON7Se5ERKyuOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



body {
  padding: 30px;
  direction: rtl;
  text-align: right;
  background: #fff;

  /*background: #fff;*/
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.sh-box-head {
  padding: 20px;

  /*border-bottom: 2px dotted #ededed;*/
}
.sh-avatar {
  width: 300px;
  height: 300px;
  background: #fff;
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 50%;
}
.sh-name {
  margin-top: 15px;

  text-align: center;
  font-family: 'Aref Ruqaa', serif;
  font-size: 4.5em;
  /*color: #fff;*/

}
.sh-content {
  margin-top: 20px;
  padding: 0 20px;
}
.sh-desc {
    font-size: 1.9em;
    font-family: 'Aref Ruqaa', serif;
    /*color: #fff;*/
    margin-top: 20px;
    text-align: left;
}


.social-media {
    border-top: 1px dotted rgba(1, 1, 1, 0.05);
    margin-top: 25px;
    padding-top: 25px;
}

.fa {
  text-decoration: none!important;
  color: #333;
}
.fa:hover {
  color: #333;
}

.sh-standout {
  margin-top: 0;
  padding-top: 40px;
  border-top: 2px dotted #ededed;
}
.sh-info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sh-info ul {
  padding-left: 0;
  list-style: square;
}

.sh-bio {
    font-size: 1.6em;
    font-family: 'Lateef', cursive;
}


@media only screen and (max-width: 700px) {
    .list-inline>li {
        display: block!important;
        margin-bottom: 15px;
    }
}
